@import "../../sass/variables";

@mixin break1 {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin break2 {
  @media (max-width: 650px) {
    @content;
  }
}

.top-nav-container {
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid $gray;
  position: fixed;
  z-index: 3;
  background-color: #23272a;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.151);
  align-items: center;
  .logo-container {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    h1 {
      color: $c1;
      font-family: $logo;
      font-size: large;
      margin-left: 10px;
    }
  }
  .search-bar-container {
    width: 40vw;
    @include break1(){
      display: none;
    }
  }
  .icons-container {
    display: flex;
    width: 30vw;
    height: 45px;
    justify-content: space-around;
    align-items: center;
    .social-links-container{
      width: 50%;
      display: flex;
      align-items: center;
      @include break2(){
        display: none;
      }
    }
  }
  .icon-link-background {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $black;
      border-radius: 50%;
    }
  }
}

.top-nav-container-light {
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid $gray;
  position: fixed;
  z-index: 3;
  background-color: $smoke;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.151);
  align-items: center;
  .logo-container {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    h1 {
      color: $lc1;
      font-family: $logo;
      font-size: large;
      margin-left: 10px;
    }
  }
  .search-bar-container {
    width: 40vw;
    @include break1(){
      display: none;
    }
  }
  .icons-container {
    display: flex;
    width: 30vw;
    height: 45px;
    justify-content: space-around;
    align-items: center;
    .social-links-container{
      width: 50%;
      display: flex;
      align-items: center;
      @include break2(){
        display: none;
      }
    }
  }
  .icon-link-background {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
