@import "../../sass/variables";

.collection-preview-container {
  width: 100%;
  .collection-name-link {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .delete-container,
    .delete-container-active {
      width: 55px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .main-links {
      display: flex;
      width: 55px;
    }
    .secondary-links {
      width: 30%;
      display: flex;
      min-width: 50px;
      justify-content: space-around;
      align-items: center;
    }
    .collection-name-container {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $gray;
      border-radius: 40px;
      font-family: $roboto;
      color: $c1;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: small;
      margin: auto;
      &:hover {
        background-color: rgba(207, 207, 207, 0.178);
        border-color: $blue;
      }
    }
  }
}
